/* #region common */

:root {
    --darker: #000000;
    --darker-transparent: rgb(0 0 0 / 50%);
    --lighter: #ffffff;
    --primary: #141922;
    /* bgcolor main */
    --secondary: #282828;
    /* bgcolor footer */
    --light: #6F6F6F;
    /* color texts */
    --alternative: #ADFF2F;
    /* color border active */
    --font-family: 'Montserrat', sans-serif;
    --hover: rgb(56 56 56 / 65%);
    --scrollbar: rgb(56 56 56 / 65%);
    --scrollbar-hover: rgba(114, 114, 114, 0.65);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    overflow: hidden;
}

::-webkit-scrollbar {
    height: 0.5rem;
    width: 0.5rem;
  }

::-webkit-scrollbar-thumb {
    background: var(--scrollbar);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-hover);
  }

img {
    max-width: 100%;
    transition: 500ms linear;
}

a {
    text-decoration: none;
    color: var(--light);
    transition: 500ms linear;
}

/* #endregion common */

/* #region hover */

.btn:hover {
    background-color: var(--scrollbar-hover);
}

#site-main .side-bar li:hover a,
#site-main .side-bar a:hover,
#site-main .side-bar .my-playlists>a:hover {
    color: var(--lighter);
}

#site-main .side-bar .my-playlists>a:hover i {
    background-color: var(--lighter);
}

#site-main .side-bar li:hover {
    cursor: pointer;
}

#site-main #sidebar-footer .install a:hover img {
    animation: unset;
}

#site-main #sidebar-footer .install a:hover img {
    filter: none;
}

#site-main .playlist-tracks .row-track:hover {
    background-color: var(--hover);
    cursor: default;
}

#site-main .playlist-tracks .row-track:hover i {
    visibility: visible;
    color: var(--lighter);
}

#site-main .playlist-tracks .track-duration .like:hover .fa-solid.fa-heart{
    display: inline;
    color: var(--alternative);
}


#site-main .playlist-tracks .row-track .like:hover .fa-heart {
    display: none;
}


#site-footer .track-title a:hover {
    color: var(--lighter);
    text-decoration: underline;
}

#site-footer i:hover{
    color: var(--lighter);
}

#site-footer .track-timeline:hover .time-spent,
#site-footer .volume-line:hover .current-volume-level {
    background-color: var(--alternative);
}

#site-footer .track-timeline:hover .current-point, 
#site-footer .volume-line:hover .current-point {
    display: block;
}

#site-footer .track-timeline:hover,
#site-footer .volume-line:hover {
    cursor: pointer;
}

#site-footer .fa-circle-play:hover {
    transform: scale(1.1);
}

/* #endregion hover */

/* #region animation */

@keyframes bouncing {

    0% {
        transform: translatey(0);
    }

    10% {
        transform: scale(1.3,.7) translatey(0);
    }

    30% {
        transform: scale(.7,1.3) translatey(-20px);
    }

    50% {
        transform: scale(1.1,.9) translatey(0);
    }
    
    60% {
        transform: scale(1) translatey(-2px);
    }

    70% {
        transform: scale(1) translatey(0);
    }

    100% {
        transform: scale(1) translatey(0);
    }
    
}

/* #endregion animation */

/* #region utility */

.w-100 {
    width: 100%;
}

ul.unstyled {
    list-style: none;
}

.rotate-90 {
    transform: rotate(90deg);
}

.tt-uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}

.btn {
    border: 1px solid var(--lighter);
    color: var(--lighter);
    border-radius: 30px;
    font-size: 0.75rem;
    padding: 0.25rem 1rem;
}

.pb-2rem {
    padding-bottom: 2rem;
}

.pb-4 {
    padding-bottom: 4px;
}

/* #region dislpay */

.d-flex {
    display: flex;
}

/* #endregion dislpay */

/* #region position */

.p-relative {
    position: relative;
}

/* #endregion position */

/* #region font-size */

.fs-2rem {
    font-size: 2rem;
}

.fs-18 {
    font-size: 18px;
}

.fs-1rem {
    font-size: 1rem;
}

.fs-14 {
    font-size: 14px;
}

.fs-13 {
    font-size: 13px;
}

.fs-12 {
    font-size: 12px;
}

.fs-11 {
    font-size: 11px;
}

.fs-8 {
    font-size: 8px;
}

/* #endregion font-size */

/* #endregion utility */

/* #region site-main */

#site-main {
    position: relative;
    display: flex;
}

#site-main .lighter {
    color: var(--lighter);
}

#site-main .main-content {
    color: var(--lighter);
    height: calc(100% - 90px);
    overflow-y: auto;
    transition: 500ms linear;
}

/* #region side-bar */

#sidebar-header {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    height: 160px;
}

#sidebar-footer {
    height: 80px;
    padding: 0 1rem;
}

#sidebar-middle {
    height: calc(100% - 240px);
}

#site-main .side-bar {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 0.5rem 0;
    height: calc(100vh - 90px);
    width: 230px;
    background-color: var(--darker);
    color: var(--light);
    transition: height 500ms linear;
}

#site-main .side-bar img.logo {
    padding: 0 1rem;
    width: 70%;
}

#site-main .side-bar img.logo-small {
    display: none;
}

#site-main .side-bar ul.panel img,
#site-main #sidebar-footer img {
    width: 20px;
    filter: brightness(0.5);
}

#site-main #sidebar-footer .install a {
    align-items: center;
}

#site-main .side-bar ul.panel {
    padding: 1rem 0rem;
    flex-direction: column;
    row-gap: 0.5rem;
}

#site-main .side-bar ul.panel a {
    align-items: center;
    column-gap: 0.5rem;
}


#site-main .side-bar ul.panel li>a {
    padding: 0 1rem;
    align-content: center;
}

#site-main .side-bar ul.panel>li.active {
    border-left: 1px solid var(--alternative);
}

#site-main .side-bar ul.panel>li {
    border-left: 1px solid var(--darker);
}

#site-main .side-bar ul.panel li>a.active {
    color: var(--lighter);
}

#site-main .side-bar ul.panel a.active>img {
    filter: none;
}

#site-main .side-bar .my-playlists {
    flex-direction: column;
    row-gap: 0.5rem;
    padding: 0 1rem;
    min-height: 75px;
}

#site-main .side-bar .my-playlists>a {
    align-items: center;
    column-gap: 0.5rem;
}

#site-main .side-bar a>i.new-playlist {
    color: var(--darker);
    background-color: var(--light);
    padding: 0.25rem;
    transition: 500ms linear;
}

#site-main .side-bar ul.container-playlists {
    height: calc(100% - 75px);
    overflow-y: auto;
}


#site-main .side-bar ul.container-playlists>li {
    padding: 0.5rem 0;
}

#sidebar-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#sidebar-footer .install {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--light);
}

#sidebar-footer .install a {
    column-gap: 0.5rem;
}

#site-main #sidebar-footer .install img {
    width: 1rem;
    animation: bouncing 2s cubic-bezier(0.07, 0.71, 0.4, 0.96) 2s infinite;
}

.user {
    padding-top: 0.5rem;
    align-items: center;
}

#site-main .user .user-pic img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: brightness(110%);
}

.user .user-pic {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: var(--light);
    margin-right: 5px;
}


/* #endregion side-bar */

/* #region upgrade */

#site-main .upgrade {
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background-color: var(--darker-transparent);
    padding: 0 0.5rem;
    transition: 500ms linear;
}

#site-main .upgrade .container-arrows,
#site-main .upgrade .right-btns {
    column-gap: 1rem;
    align-items: center;
    justify-content: center;
}

#site-main .upgrade .container-arrows .btn {
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    padding: unset;
}

#site-main .upgrade .right-btns .btn.user {
    align-items: center;
    column-gap: 0.25rem;
    padding: 0 0.25rem 0 0;  
}

#site-main .upgrade .right-btns .user-pic {
    height: 1.5rem;
    width: 1.5rem;
    margin: unset;
}

/* #endregion upgrade */

/* #region playlist-selected */

#site-main .playlist-selected {
    align-items: flex-end;
    column-gap: 1rem;
    background-color: var(--darker-transparent);
    color: var(--lighter);
    padding: 0 0.5rem 1rem;
    font-size: 0.75rem;
}

#site-main .playlist-selected .playlist-cover {
    max-width: 200px;
    box-shadow: 0px -1px 15px 0px var(--light);
}

#site-main .playlist-selected .playlist-details {
    flex-direction: column;
    row-gap: 1rem;
}

#site-main .playlist-selected .playlist-title {
    font-size: 70px;
}

/* #endregion playlist-selected */

/* #region container-content */

#site-main .container-content {
    height: calc(100vh - 90px);
    width: calc(100% - 230px);
    background-color: var(--primary);
    transition: 500ms linear;
}

#site-main .playlist-action {
    column-gap: 1rem;
    padding: 1rem 0.5rem;
    font-size: 3rem;
}

#site-main .playlist-action .fa-circle-play {
    color: var(--alternative);
}

#site-main .playlist-action span {
    line-height: 2.5rem;
    font-size: 2.5rem;
    letter-spacing: 0.25rem;
}

#site-main .playlist-tracks {
    padding: 0rem 0.5rem;
    color: var(--light);
}

#site-main .playlist-tracks .row-head,
#site-main .playlist-tracks .row-track {
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

#site-main .playlist-tracks .row-head {
    border-bottom: 1px solid var(--light);
    padding: 0rem 1rem 1rem;
    margin-bottom: 1rem;

}

#site-main .playlist-tracks .row-track {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    transition: 500ms linear;
}

#site-main .playlist-tracks .row-track .track-cover {
    max-width: 40px;
    align-self: flex-start;
}

#site-main .playlist-tracks .track-number {
    flex: 0;
}

#site-main .playlist-tracks .track-title {
    flex: 3;
    column-gap: 0.5rem;
}

#site-main .playlist-tracks .track-album {
    flex: 3;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 2rem;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

#site-main .playlist-tracks .track-added {
    flex: 1;
}

#site-main .playlist-tracks .track-duration {
    justify-content: center;
    column-gap: 1rem;
    flex: 1;
}

#site-main .playlist-tracks .track-duration .fa-solid.fa-heart{
    display: none;
}

#site-main .playlist-tracks .track-duration .fa-heart, 
#site-main .playlist-tracks .track-duration .fa-ellipsis {
    visibility: hidden;
    transition: 500ms linear;
}

#site-main .playlist-tracks .track-duration .fa-solid.fa-heart.liked{
    display: inline;
    visibility: visible;
    color: var(--alternative);
}

/* #endregion container-content */

/* #endregion site-main */

/* #region site-footer */

#site-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    height: 90px;
    width: 100%;
    padding: 0 0.5rem;
    background-color: var(--secondary);
    color: var(--light);
    transition: height 500ms linear;
}

/* #region left-menu */

#site-footer .left-menu {
    align-items: center;
    justify-content: space-around;
    column-gap: 0.25rem;
    width: 200px;
}

#site-footer .left-menu .track .track-artist {
    color: var(--lighter);
}

#site-footer img {
    height: 40px;
    width: 40px;
    object-fit: cover;
}

#site-footer .track-icons {
    align-items: center;
    justify-content: space-around;
    width: 20%;
    flex-wrap: wrap;
}

/* #endregion left-menu */

/* #region center-menu */

#site-footer .center-menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;
    width: 50%;
    padding: 0 1rem;
}

#site-footer .center-menu > nav.track-actions {
    justify-content: center;
    align-items: center;
    width: 100%;
    column-gap: 2rem;
}

#site-footer .center-menu > nav.track-actions a {
    color: var(--light);
}

#site-footer .center-menu > .track-duration {
    align-items: center;
    justify-content: center;
    width: 100%;
    column-gap: 0.5rem;
}


#site-footer .track-timeline {
    height: 6px;
    width: 30vw;
}

#site-footer .time-spent {
    width: 0;
    height: 3px;
    background-color: var(--lighter);
}

#site-footer .time-remaining {
    width: 100%;
    height: 3px;
    background-color: var(--light);
}

#site-footer .current-point {
    position: absolute;
    right: -1rem;
    top: -6px;
    transform: translate(-50%);
    background-color: var(--lighter);
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    display: none;
}

#site-footer .center-menu .current-time,
#site-footer .center-menu .total-time {
    color: var(--lighter);
}


/* #endregion center-menu */

/* #region right-menu */

#site-footer .right-menu {
    align-items: center;
    justify-content: space-around;
    column-gap: 0.5rem;
    width: 200px;
    color: var(--light);
}

#site-footer .right-menu .volume-line {
    height: 6px;
    width: 70%;
}

#site-footer .current-volume-level {
    width: 0;
    height: 3px;
    background-color: var(--lighter);
}

#site-footer .remaining-volume-level {
    width: 100%;
    height: 3px;
    background-color: var(--light);
}

/* #endregion right-menu */

/* #endregion site-footer */

/* #region @media query lg  */

@media screen and (min-width: 1600px) {

    #site-main .main-content .card {
        max-width: 230px;
    }

    #site-main .main-content .card-title {
        font-size: 1.25rem;
        max-height: 3.75rem;
        -webkit-line-clamp: 2;
    }

    #site-main .main-content .card-subtitle {
        font-size: 1rem;
    }

    #site-main .main-content .row-title {
        font-size: 1.75rem;
    }

    #site-main .main-content .row-subtitle {
        font-size: 1rem;
    }

    #site-main .main-content nav.nav-bar li {
        font-size: 1.25rem;
    }

    #site-main .side-bar,
    #site-footer .left-menu .track {
        font-size: 1rem;
    }

    #site-footer .center-menu .current-time, 
    #site-footer .center-menu .total-time {
        font-size: 1rem;
    }

}

/* #endregion @media query lg  */

/* #region @media query md  */

@media screen and (max-width: 830px) {

    #site-main .main-content .card {
        width: calc(100% / 5);
        min-width: 130px;
    }  

    #site-main .main-content .card-title{
        font-size: 0.75rem;
        padding-bottom: 0.5rem;
    }

    #site-main .main-content .row-title {
        font-size: 1.25rem;
    }    

    #site-main .main-content .row-card {
        flex-wrap: wrap;
        max-height: 248px;
    }
    
}

/* #endregion @media query md  */

/* #region @media query s  */

@media screen and (max-width: 630px) {

    #site-main .main-content .card-title{
        font-size: 0.75rem;
        padding-bottom: 0.5rem;
    }
    
    #site-main .main-content .row-title {
        font-size: 1.25rem;
    }    
    
}

/* #endregion @media query s  */

/* #region @media query xs  */

@media screen and (max-width: 535px) {

    #site-main .side-bar {
        width: 50px;
        padding: 0.5rem 0;
        justify-content: space-between;
        transition: 500ms linear;
    }  

    #site-main .side-bar #sidebar-header {
        align-items: center;
        row-gap: 0;
    }

    #site-main .container-content {
        width: calc(100% - 50px);
    }    

    #site-main .side-bar .logo {
        display: none;
    }

    #site-main .side-bar img.logo-small {
        display: inline-block;
        width: 28px;
    }

    #site-main .side-bar span {
        display: none;
    }  

    #site-main .side-bar ul.panel img,
    #site-main #sidebar-footer img {
        width: 28px;
    }

    #site-main .side-bar #sidebar-middle {
        display: none;
    }

    #sidebar-footer .install {
        border-bottom: none;
    }    

    #sidebar-footer {
        align-items: center;
    }    

    #sidebar-footer .user .user-pic {
        width: 25px;
        height: 25px;
        margin-right: 0;
    }

    #site-main #sidebar-footer .user .user-pic img {
        width: 1rem;
    }    
    

    #site-main .main-content .card-title{
        font-size: 0.75rem;
        padding-bottom: 0.5rem;
    }
    
    #site-main .main-content .row-title {
        font-size: 1.25rem;
    }    
    
}

/* #endregion @media query xs  */

/* #region @media query mobile  */

@media screen and (max-width: 450px) {

    #site-main .side-bar {
        width: 50px;
        height: calc(100vh - 60px);
        padding: 0.5rem 0;
        justify-content: space-between;
    }  

    #site-main .side-bar #sidebar-header {
        align-items: center;
        row-gap: 0;
    }

    #site-main .container-content {
        width: calc(100% - 50px);
        height: calc(100vh - 60px);
    }    

    #site-main .side-bar .logo {
        display: none;
    }

    #site-main .side-bar img.logo-small {
        display: inline-block;
        width: 28px;
    }

    #site-main .side-bar span {
        display: none;
    }  

    #site-main .side-bar ul.panel img,
    #site-main #sidebar-footer img {
        width: 28px;
    }

    #site-main .side-bar #sidebar-middle {
        display: none;
    }

    #sidebar-footer .install {
        border-bottom: none;
    }    

    #sidebar-footer {
        align-items: center;
    }    

    #sidebar-footer .user .user-pic {
        width: 25px;
        height: 25px;
        margin-right: 0;
    }

    #site-main #sidebar-footer .user .user-pic img {
        width: 1rem;
    }    
    
    #site-main .main-content .card {
        width: calc(100% / 1.5);
        max-width: 150px;
        flex-shrink: 0;
    }  

    #site-main .main-content .card-title{
        font-size: 0.75rem;
        padding-bottom: 0.5rem;
    }
    
    #site-main .card .fa-circle-play {
        font-size: 2rem;
    }   

    #site-main .main-content .row-title {
        font-size: 1.25rem;
    }  

    #site-main nav.nav-bar li {
        width: 100%;
        text-align: center;
    }

    #site-main .nav-bar a:hover{
        color: var(--lighter);
    }

    #site-main .main-content .row-card {
        flex-wrap: nowrap;
        overflow-x: auto;   
        padding-bottom: 0.75rem;    
        max-height: unset; 
    }    

    #site-footer {
        height: 60px;
    }   
    
    #site-footer .left-menu {
        width: 60%;
    }    

    #site-footer .center-menu {
        width: 20%;
        order: 2;
        padding: 0;
    }

    #site-footer .center-menu > nav.track-actions {
        justify-content: flex-end;
        column-gap: 0;
    }
        
    #site-footer .center-menu > nav.track-actions i {
        display: none;
    }  

    #site-footer .center-menu > nav.track-actions a {
        display: flex;
        align-items: center;
    }  

    
    #site-footer .center-menu > nav.track-actions a > .fa-circle-play {
        display: inline-block;
        font-size: 1.5rem;
    }    

    #site-footer .center-menu > .track-duration {
        display: none;
    }

    #site-footer .right-menu {
        width: 20%;
    }

    #site-footer .right-menu i{
        display: none;
    }

    #site-footer .right-menu i.fa-volume-high {
        display: inline-block;
        font-size: 12px;
    }
    
}

/* #endregion @media query xs  */

/* #region @media query heightsmall  */

@media screen and (max-height: 260px) {

    #site-main .upgrade {
        height: 0;
    }

    #site-main .upgrade .btn {
        display: none;
    }
    
    #site-main .main-content {
        height: 100%;
    } 
    
}

/* #endregion @media query heightsmall  */
