/* #region common */

:root {
    --darker: #000000;
    --lighter: #ffffff;
    --primary: #141922;
    /* bgcolor main */
    --secondary: #282828;
    /* bgcolor footer */
    --light: #6F6F6F;
    /* color texts */
    --alternative: #ADFF2F;
    /* color border active */
    --font-family: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

/* #endregion common */

/* #region utility */

.w-100 {
    width: 100%;
}

ul.unstyled {
    list-style: none;
}

.rotate-90 {
    transform: rotate(90deg);
}

.tt-uppercase {
    text-transform: uppercase;
}

/* #region dislpay */

.d-flex {
    display: flex;
}

/* #endregion dislpay */

/* #region position */

.p-relative {
    position: relative;
}

/* #endregion position */

/* #region font-size */

.fs-1rem {
    font-size: 1rem;
}

.fs-13 {
    font-size: 13px;
}

.fs-8 {
    font-size: 8px;
}

/* #endregion font-size */

/* #endregion utility */

/* #region site-main */

#site-main {
    position: relative;
    display: flex;
}

#site-main .lighter {
    color: var(--lighter);
}

#site-main a {
    color: var(--light);
}

/* #region side-bar */

#site-main .side-bar {
    height: calc(100vh - 80px);
    width: 20%;
    background-color: var(--darker);
    color: var(--light);
}

#site-main .side-bar>img.logo {
    max-width: 70%;
    padding: 1rem;
}

#site-main .side-bar ul.panel {
    padding: 1rem 0rem;
    flex-direction: column;
    row-gap: 0.5rem;
}

#site-main .side-bar ul.panel li>a {
    color: var(--light);
    padding: 0 1rem;
    align-content: center;
}

#site-main .side-bar ul.panel>li.active {
    border-left: 1px solid var(--alternative);
}

#site-main .side-bar ul.panel li>a.active {
    color: var(--lighter);
}

#site-main .side-bar .my-playlists {
    flex-direction: column;
    row-gap: 0.5rem;
    padding: 1rem;
}

#site-main .side-bar a>i.new-playlist {
    color: var(--darker);
    background-color: var(--light);
    padding: 0.5rem;
    margin-right: 5px;
}

#site-main .side-bar ul.container-playlists>li {
    padding: 0.5rem 0;
}

#sidebar-footer {
    position: absolute;
    bottom: 0;
    padding: 1rem;
    padding-bottom: 0.5rem;
}

#sidebar-footer .install a{
    column-gap: 2px;
}

#sidebar-footer .install i{
    border-radius: 50%;
    border: 1px solid var(--light);
    height: 0.5rem;
    width: 0.5rem;
}



/* #endregion side-bar */

#site-main .container-content {
    height: calc(100vh - 80px);
    width: 80%;
    background-color: var(--primary);
}

#site-main .upgrade {
    position: absolute;
    top: 0;
    height: 10%;
    background-color: rgb(0 0 0 / 50%);
}

/* #endregion site-main */

/* #region site-footer */

#site-footer {
    position: absolute;
    bottom: 0;
    height: 80px;
    width: 100%;
    background-color: var(--secondary);
}

/* #endregion site-footer */


