/* #region common */

:root {
    --darker: #000000;
    --lighter: #ffffff;
    --primary: #141922;
    /* bgcolor main */
    --secondary: #282828;
    /* bgcolor footer */
    --light: #6F6F6F;
    /* color texts */
    --alternative: #ADFF2F;
    /* color border active */
    --font-family: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    overflow: hidden;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: var(--light);
}

/* #endregion common */

/* #region hover */

#site-main .side-bar a:hover, 
#site-main .nav-bar a:hover,
#site-main .nav-bar a:hover .new-playlist{
    color: var(--lighter);
}

#site-main ul.panel a:hover img,
#site-main #sidebar-footer .install a:hover img {
    filter: none;
}

#site-main .side-bar a:hover i.new-playlist {
    background-color: var(--lighter);
}

.btn:hover {
    transform: scale(120%);
}

#site-main .card:hover img {
    filter: brightness(0.5);
}

#site-main .card:hover .fa-circle-play {
    display: inline;
}

#site-footer .track-title a:hover {
    color: var(--lighter);
    text-decoration: underline;
}

#site-footer i:hover{
    color: var(--lighter);
}

#site-footer .track-timeline:hover .time-spent,
#site-footer .volume-line:hover .current-volume-level {
    background-color: var(--alternative);
}

#site-footer .track-timeline:hover .current-point, 
#site-footer .volume-line:hover .current-point {
    display: block;
}

#site-footer .track-timeline:hover,
#site-footer .volume-line:hover {
    cursor: pointer;
}

#site-footer .fa-circle-play:hover {
    transform: scale(110%);
}

/* #endregion hover */

/* #region utility */

.w-100 {
    width: 100%;
}

ul.unstyled {
    list-style: none;
}

.rotate-90 {
    transform: rotate(90deg);
}

.tt-uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}

.btn {
    border: 1px solid var(--lighter);
    color: var(--lighter);
    border-radius: 30px;
    padding: 0.75rem 2rem;
}

.pb-2rem {
    padding-bottom: 2rem;
}

.pb-4 {
    padding-bottom: 4px;
}

/* #region dislpay */

.d-flex {
    display: flex;
}

/* #endregion dislpay */

/* #region position */

.p-relative {
    position: relative;
}

/* #endregion position */

/* #region font-size */

.fs-2rem {
    font-size: 2rem;
}

.fs-18 {
    font-size: 18px;
}

.fs-1rem {
    font-size: 1rem;
}

.fs-14 {
    font-size: 14px;
}

.fs-13 {
    font-size: 13px;
}

.fs-12 {
    font-size: 12px;
}

.fs-8 {
    font-size: 8px;
}

/* #endregion font-size */

/* #endregion utility */

/* #region site-main */

#site-main {
    position: relative;
    display: flex;
}

#site-main .lighter {
    color: var(--lighter);
}

#site-main .main-content {
    color: var(--lighter);
    height: calc(100% - 90px);
    overflow-y: auto;
}

/* #region side-bar */

#sidebar-header {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    height: 160px;
}

#sidebar-footer {
    height: 80px;
}

#sidebar-main {
    height: calc(100% - 240px);
}

#site-main .side-bar {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 0.5rem 0;
    height: calc(100vh - 90px);
    width: 230px;
    background-color: var(--darker);
    color: var(--light);
}

#site-main .side-bar img.logo {
    padding: 0 1rem;
    width: 70%;
}

#site-main .side-bar img.logo-small {
    display: none;
}


#site-main .side-bar ul.panel img,
#site-main #sidebar-footer img {
    width: 20px;
    filter: brightness(0.5);
}

#site-main #sidebar-footer .install a,
#site-main .side-bar ul.panel a {
    align-items: center;
}

#site-main .side-bar ul.panel {
    padding: 1rem 0rem;
    flex-direction: column;
    row-gap: 0.5rem;
}

#site-main .side-bar ul.panel a {
    align-items: center;
}


#site-main .side-bar ul.panel li>a {
    padding: 0 1rem;
    align-content: center;
}

#site-main .side-bar ul.panel>li.active {
    border-left: 1px solid var(--alternative);
}

#site-main .side-bar ul.panel>li {
    border-left: 1px solid var(--darker);
}

#site-main .side-bar ul.panel li>a.active {
    color: var(--lighter);
}

#site-main .side-bar ul.panel a.active>img {
    filter: none;
}

#site-main .side-bar .my-playlists {
    flex-direction: column;
    row-gap: 0.5rem;
    padding: 0 1rem;
    min-height: 75px;
}

#site-main .side-bar a>i.new-playlist {
    color: var(--darker);
    background-color: var(--light);
    padding: 0.5rem;
    margin-right: 5px;
}

#site-main .side-bar ul.container-playlists {
    height: calc(100% - 75px);
    overflow-y: auto;
}


#site-main .side-bar ul.container-playlists>li {
    padding: 0.5rem 0;
}

#sidebar-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#sidebar-footer .install {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--light);
}

#site-main #sidebar-footer .install img {
    width: 1rem;
}

#sidebar-footer .user {
    padding-top: 0.5rem;
    align-items: center;
}

#site-main #sidebar-footer .user .user-pic img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: brightness(110%);
}

#sidebar-footer .user .user-pic {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: var(--light);
    margin-right: 5px;
}


/* #endregion side-bar */

/* #region upgrade */

#site-main .upgrade {
    justify-content: flex-end;
    align-items: center;
    padding-right: 2rem;
    height: 90px;
    background-color: rgb(0 0 0 / 50%);
}

/* #endregion upgrade */

/* #region container-content */

#site-main .container-content {
    height: calc(100vh - 90px);
    width: calc(100% - 230px);
    background-color: var(--primary);
}

#site-main .card .fa-circle-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    display: none;
}

#site-main .main-content nav.nav-bar {
    align-items: center;
    padding-top: 0.5rem;
}

#site-main .main-content nav.nav-bar > ul {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

#site-main .main-content nav.nav-bar .active {
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%);
    border-bottom: 1px solid var(--alternative);
    width: 40%;
}

#site-main .main-content .row {
    flex-wrap: wrap;
    column-gap: 1.5rem;
    padding: 2rem 1rem 0;
}

#site-main .main-content .row-subtitle {
    padding: 1rem 0 2rem;
}

#site-main .main-content .card {
    width: calc(100% / 7);
    text-align: center;
}

#site-main .main-content .artists .card-cover > img{
    border-radius: 50%;
}

#site-main .main-content .card-title {
    font-size: 1rem;
    padding: 1rem 0;
}

#site-main .main-content .card-subtitle {
    padding-bottom: 1rem;
}

#site-main .main-content .card-subtitle,
#site-main .main-content .row-subtitle {
    color: var(--light);
}

/* #endregion container-content */

/* #endregion site-main */

/* #region site-footer */

#site-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    height: 90px;
    width: 100%;
    background-color: var(--secondary);
    color: var(--light);
}

/* #region left-menu */

#site-footer .left-menu {
    align-items: center;
    justify-content: space-around;
    column-gap: 0.25rem;
    width: 200px;
}

#site-footer .left-menu .track .track-artist {
    color: var(--lighter);
}

#site-footer img {
    height: 40px;
    width: 40px;
    object-fit: cover;
}

#site-footer .track-icons {
    align-items: center;
    justify-content: space-around;
    width: 20%;
    flex-wrap: wrap;
}

/* #endregion left-menu */

/* #region center-menu */

#site-footer .center-menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;
    width: 50%;
    padding: 0 1rem;
}

#site-footer .center-menu > nav.track-actions {
    justify-content: center;
    align-items: center;
    width: 100%;
    column-gap: 2rem;
}

#site-footer .center-menu > nav.track-actions a {
    color: var(--lighter);
}

#site-footer .center-menu > .track-duration {
    align-items: center;
    justify-content: center;
    width: 100%;
    column-gap: 0.5rem;
}


#site-footer .track-timeline {
    height: 4px;
    width: 30vw;
}

#site-footer .time-spent {
    width: 15%;
    height: 2px;
    background-color: var(--lighter);
}

#site-footer .time-remaining {
    width: 85%;
    height: 2px;
    background-color: var(--light);
}

#site-footer .current-point {
    position: absolute;
    right: -1rem;
    top: -6px;
    transform: translate(-50%);
    background-color: var(--lighter);
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    display: none;
}

#site-footer .center-menu .current-time,
#site-footer .center-menu .total-time {
    color: var(--lighter);
}


/* #endregion center-menu */

/* #region right-menu */

#site-footer .right-menu {
    align-items: center;
    justify-content: space-around;
    column-gap: 0.25rem;
    width: 200px;
    color: var(--lighter);
}

#site-footer .right-menu .volume-line {
    height: 4px;
    width: 100px;
}

#site-footer .current-volume-level {
    width: 40%;
    height: 2px;
    background-color: var(--lighter);
}

#site-footer .remaining-volume-level {
    width: 60%;
    height: 2px;
    background-color: var(--light);
}

/* #endregion right-menu */

/* #endregion site-footer */

/* #region @media query md  */

@media screen and (max-width: 830px) {

    #site-main .main-content .card {
        width: calc(100% / 5);
    }  
    #site-main .main-content .card-title{
        font-size: 0.75rem;
        padding-bottom: 0.5rem;
    }
    
    #site-main .main-content .card-subtitle {
        font-size: 0.5rem;
    }

    #site-main .main-content .row-title {
        font-size: 1.25rem;
    }    
    
}

/* #endregion @media query md  */

/* #region @media query s  */

@media screen and (max-width: 630px) {

    #site-main .main-content .card {
        width: calc(100% / 2.5);
    }  
    #site-main .main-content .card-title{
        font-size: 0.75rem;
        padding-bottom: 0.5rem;
    }
    
    #site-main .main-content .card-subtitle {
        font-size: 0.5rem;
    }

    #site-main .main-content .row-title {
        font-size: 1.25rem;
    }    
    
}

/* #endregion @media query s  */

/* #region @media query xs  */

@media screen and (max-width: 535px) {

    #site-main .side-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50px;
        padding: 0.5rem 0;
    }  

    #site-main .container-content {
        width: calc(100% - 50px);
    }    

    #site-main .side-bar .logo {
        display: none;
    }

    #site-main .side-bar img.logo-small {
        display: inline-block;
        width: 28px;
    }

    #site-main .side-bar span {
        display: none;
    }  

    #site-main .side-bar ul.panel img,
    #site-main #sidebar-footer img {
        width: 28px;
    }

    #site-main .side-bar .my-playlists {
        display: none;
    }

    #sidebar-footer .install {
        border-bottom: none;
    }    

    #sidebar-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 0 0.5rem;
    }    

    #sidebar-footer .user .user-pic {
        width: 25px;
        height: 25px;
        margin-right: 0;
    }

    #site-main #sidebar-footer .user .user-pic img {
        width: 1rem;
    }    
    

    #site-main .main-content .card {
        width: calc(100% / 2.5);
    }  
    #site-main .main-content .card-title{
        font-size: 0.75rem;
        padding-bottom: 0.5rem;
    }
    
    #site-main .main-content .card-subtitle {
        font-size: 0.5rem;
    }

    #site-main .main-content .row-title {
        font-size: 1.25rem;
    }    
    
}

/* #endregion @media query xs  */


